#satu{
   
    font-family: monospace;
}
.navbar-custom{
    background-color: rgb(54, 61, 69);
}



/* <a href="web2.html" target="_blank">Home</a> */

.float-end{
    font-family: monospace;
}


.judul{
    font-family: monospace;
}

.img{
      height: 389px;       /* tinggi seragam */
  object-fit: cover;   /* biar gambarnya tetap proporsional */

}